

<figure class="chair">
  <img src="assets/products/pexels-jatin-anand-128206.jpg" alt="Chair" />
  <div class="chair-box">
    <h3>{{product.name}}</h3>
    <ul class="chair-details">
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="chair-icon"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z"
          />
        </svg>
        <!-- Span is a generic INLINE text element, it doesn't have any meaning. It's like a div element, but inline -->
        <span>Leisure and relaxing</span>
      </li>
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="chair-icon"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
        <span>Comfortable for 4h</span>
      </li>
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="chair-icon"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"
          />
        </svg>
        <span>Vegan leather</span>
      </li>
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="chair-icon"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4"
          />
        </svg>
        <span>Weighs 16 kg</span>
      </li>
    </ul>
    <div class="chair-price">
      <strong>{{product.price | currency: 'USD': true}}</strong>
      <a href="#" class="btn btn--small">Add to cart</a>
    </div>
  </div>
</figure>
